POSTGRES_DB=bh_agendamentos_development
POSTGRES_TEST_DB=bh_agendamentos_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
REDIS_URL=redis://redis:6379/1
MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
PAYMENT_EXPIRATION_MINUTES=30
WEBHOOK_EVENT_RETENTION_DAYS=90
APP_HOST=
MAILER_PROTOCOL=https
MAILER_FROM=nao-responda@agendabh.com.br
SMTP_ADDRESS=
SMTP_PORT=587
SMTP_DOMAIN=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
