POSTGRES_DB=bh_agendamentos_development
POSTGRES_TEST_DB=bh_agendamentos_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
REDIS_URL=redis://redis:6379/1
MERCADO_PAGO_PUBLIC_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
PAYMENT_EXPIRATION_MINUTES=30
